<header class="header" [class.active]="isMenuOpen">
    <div class="logo-placeholder"></div>
    
    <button class="menu-toggle" (click)="toggleMenu()">
      <span class="hamburger"></span>
    </button>
    
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/funcionarios" routerLinkActive="active">Funcionários</a>
      <a routerLink="/folha-pagamento">Folha de Pagamento</a>
      <a routerLink="/beneficios">Benefícios</a>
      <a routerLink="/relatorios">Relatórios</a>
    </nav>
  </header>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-section">
    <div class="social-icons">
      <a href="#">📘</a>
      <a href="#">📷</a>
      <a href="#">🐦</a>
    </div>
    <div class="legal-links">
      <a href="#">Política de Privacidade</a>
      <a href="#">Termos de Uso</a>
    </div>
    <div class="newsletter">
      <input type="email" placeholder="Insira seu e-mail">
      <button>Inscrever</button>
    </div>
  </div>
</footer>